@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  color: black;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --backround: #f9e9e7;
  --primary-color: #cb9c9c;
  font-family: "Libre Baskerville", serif;
  background-color: var(--backround);
}

/* définition des principales tailles et couleurs */
.image {
  width: 100%;
  border-radius: 5%;
}

.image-profil {
  width: 100%;
  border-radius: 50% 5%;
}

.feuille {
  width: 10vw;
  height: 60vh;
}

h1 {
  width: 100%;
  color: var(--primary-color);
  padding-top: 5px;
  font-size: 8vw;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: var(--primary-color);
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  font-size: 32px;
  color: var(--primary-color);
  padding: 3% 0;
}

h4 {
  text-decoration: underline;
}

span {
  color: var(--primary-color);
}

/* définition du header */
header {
  background-color: var(--backround);
  position: fixed;
  height: 25vh;
  width: 100vw;
}

.box-images {
  display: flex;
  justify-content: space-between;
  height: 80%;
}

.box-images div {
  width: 20%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

li a {
  color: var(--primary-color);
}

.close {
  display: none;
}

/* définition partie centrale */
.centre-ecran {
  display: flex;
  padding-top: 25vh;
  height: 85vh;
}

.left-aside {
  width: 100px;
  height: 100%;
}

div main {
  text-align: left;
  width: 58vw;
  height: 70vh;
  padding: 5%;
  border-radius: 15%;
  background-color: white;
  overflow: hidden;
  overflow: scroll;
}

main p {
  padding: 2% 0;
}

main article {
  padding: 5%;
}

h3 {
  animation-name: slideInLeft;
  animation-duration: 2s;
  text-align: center;
}

@keyframes slideInLeft {
  0% {
    transform: translate(-60vw, 0px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

article {
  animation-name: slideInBottom;
  animation-duration: 4.5s;
}

@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translate(0px, 100vw);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.right-aside {
  position: fixed;
  right: 0;
  width: 30vw;
  height: 100%;
}

.right-aside p {
  padding-top: 4%;
}

/* défition du footer */
footer {
  position: fixed;
  height: 15vh;
  width: 100vw;
  bottom: 0;
}

@media screen and (max-width: 1000px) {
  .fleur-en-tete {
    display: none;
  }
}

main {
  overflow: inherit;
  margin-right: 31vw;
}

@media screen and (max-width: 650px) {
  /* Voici le menu burger : */

  /* Sidenav menu */
  .sidenav {
    height: 40vh;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 25vh;
    left: -300px;
    background-color: #e8e8e8;
    padding-top: 60px;
    transition: left 0.5s ease;
  }

  /* Sidenav menu links */
  nav ul {
    font-size: 20px;
    color: #818181;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #111;
  }

  /* Active class */
  .sidenav.active {
    left: 0;
  }

  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
  }

  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 47vw;
  }

  /* responsive telephone */
  footer,
  .left-aside,
  .fleur-en-tete {
    display: none;
  }

  .box-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
  }

  h1 {
    padding-top: 0;
    font-size: 11vw;
  }

  h3 {
    font-size: 24px;
  }
  .logo {
    height: 50%;
    width: auto;
  }

  .centre-ecran {
    padding-top: 25vh;
    display: flex;
    flex-direction: column;
    height: 75vh;
  }
  div main {
    overflow: hidden;
    overflow: scroll;
    width: 94vw;
    height: 75vh;
    align-items: center;
    margin-left: 3vw;
  }

  .responsive-right-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .right-aside {
    position: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-profil {
    width: 100%;
    border-radius: 50%;
  }
}
